<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homcare</title>
    <link  rel="stylesheet" href="static/style/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <header id="navbar">
        <nav>
            <ul class="nav-ul">
                <img id="logo" src="static/images/home_service_icon1.svg">
                <li id="name">homcare.</li>
                <li class="nav-li"><p><a href="#sect7">Contact</a></p></li>
                <li class="nav-li"><p><a href="login">log in</a></p></li>
                <li class="nav-li"><p><a href="#sect6">About</a></p></li>
                <li class="nav-li"><p><a href="#sect4">Services</a></p></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="bg-container">
            <div class="margin">
                <section class="hidden">
                    <div class="hero">
                        <div id="title">Care your home</div>
                        <div id="start"><a href="signup">Get Started ></a></div>
                        <div id="desc"><p>start fixing your homes with us.</p></div>
                    </div>
                </section>
                <section class="sect2">
                    <div class="content1">
                        <div id="c1box1">
                            <p id="content1-txt">Trouble finding best all-rounded Home Services ?<br>: homcare will take care of finding you best services.</p>
                        </div>
                        <div id="c1box2">
                            <img id="constimg" src="static/images/i2.jpg">
                        </div>
                    </div>
                </section>
                <section class="sect3">
                    <div class="content2">
                        <p id="c2txt">
                            <span>
                                " We provide you with best Services,<br> Having verified licensed agencies and partners from all over the globe. One of the most trusted platform that you can use."
                                <br>-homcare
                            </span>
                        </p>
                    </div>
                </section>
            </div>
        </div>
        <section class="sect4" id="sect4">
            <div id="content3">
                <div id="c3heading">Services we provide,<br></div>
                <div>
                    <div class="slides">
                        <div id="s1box1">
                            <h1 style="font-size: 35px; line-height: 10px;">Interior Design</h1><p id="s1txt">Our handpicked interior design partners specialize in creating personalized interiors that reflect your unique style. From concept to completion, our experts collaborate closely with you to bring your vision to life. With a keen eye for detail and a focus on functionality.</p>
                        </div>
                        <div id="s1box2">
                            <img id="s1img" src="static/images/i4.jpg">
                        </div>
                    </div>
                    <div class="slides">
                        <div id="s1box1">
                            <h1 style="font-size: 35px; line-height: 10px;">Solar Paneling</h1><p id="s1txt">Our network of experts offers comprehensive solar panel installation services. From initial consultation to the final connection, our skilled professionals handle every aspect of the process efficiently and effectively. With a focus on quality and cutting-edge technology.</p>
                        </div>
                        <div id="s1box2">
                            <img id="s1img" src="static/images/i1.jpg">
                        </div>
                    </div>
                    <div class="slides">
                        <div id="s1box1">
                            <h1 style="font-size: 35px; line-height: 10px;">Landscaping</h1><p id="s1txt">Our network of experienced professionals offers a range of landscaping services tailored to your preferences and property size. From lush garden design to efficient lawn maintenance, our experts transform your outdoor areas into inviting retreats.</p>
                        </div>
                        <div id="s1box2">
                            <img id="s1img" src="static/images/2d96753f12791d96aa6dc8ae9f4784ba.png">
                        </div>
                    </div>
                    <div class="slides">
                        <div id="s1box1">
                            <h1 style="font-size: 35px; line-height: 10px;">Other Services</h1><p id="s1txt">We're proud to offer a diverse range of home maintenance services through our network of trusted partners and agencies. From electrical and plumbing repairs to painting, carpentry, and beyond, our experts are equipped to handle all your household needs.</p>
                        </div>
                        <div id="s1box2">
                            <img id="s1img" src="static/images/i6.jpg">
                        </div>
                    </div>
                </div>
                
                <!-- <a class="prev" onclick="plusSlides(-1)">❮</a>
                <a class="next" onclick="plusSlides(1)">❯</a> -->
                <div class="dots" >
                    <span class="dot" onclick="currentSlide(1)"></span> 
                    <span class="dot" onclick="currentSlide(2)"></span> 
                    <span class="dot" onclick="currentSlide(3)"></span>
                    <span class="dot" onclick="currentSlide(4)"></span>
                </div>
                
            </div>
            <div id="s4subtxt">Ensuring safe & secure services as well as you are guaranteed to recieve.</div>
        </section>
        <section class="sect5">
            <div class="content4">
                <div id="c4heading">Choose your Experiance,<br></div>
                <div class="c4box">
                    <div class="c4box1 trans-on">
                        <div class="innerbox1">
                            <img id="userimg" src="static/images/Groupuser.svg">
                        </div>
                        <div class="innerbox2">
                            <p id="userhed">User-Side</p>
                        </div>
                        <div class="innerbox3">
                            <ul class="userlist">
                                <li class="user-li"><div class="li-dot"></div>Personalized User profiles</li>
                                <li class="user-li"><div class="li-dot"></div>Transparent Service options</li>
                                <li class="user-li"><div class="li-dot"></div>Seamless booking service</li>
                                <li class="user-li"><div class="li-dot"></div>Feedback and Review system</li>
                                <!-- <li class="user-li"><div class="li-dot"></div>Enhanced scheduler</li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="c4box2 trans-on">
                        <div class="innerbox1">
                            <img id="clientimg" src="static/images/Group constructor 2.svg">
                        </div>
                        <div class="innerbox2">
                            <p id="userhed">Client-Side</p>
                        </div>
                        <div class="innerbox3">
                            <ul class="userlist">
                                <li class="user-li"><div class="li-dot"></div>Upscale your business</li>
                                <li class="user-li"><div class="li-dot"></div>Seamless Communication</li>
                                <li class="user-li"><div class="li-dot"></div>Increase customer network</li>
                                <li class="user-li"><div class="li-dot"></div>Work-Request Management</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="s5subtxt">A two-sided platform with both user and client sharing all in one platform for seamless services.</div>
            </div>
        </section>
        <section class="sect6" id="sect6">
            <div class="content5">
                <div id="c5heading">About Us,<br></div>
                <div class="c5mainbox">
                    <div class="c5box1">
                        <p id="missiontxt"><strong>Our Mission</strong><br><br>At <b>homcare</b> our mission is to redefine the way home maintenance services are booked and delivered. We envision a world where homeowners and service providers seamlessly connect online, creating a hassle-free experience that prioritizes convenience, reliability, and quality.</p>
                    </div>
                    <div class="c5box2">
                        <p id="missiontxt"><strong>Platform Overview</strong><br><br><b>Connecting Homeowners with Trusted Service Providers,<br></b>Our platform serves as a bridge between homeowners seeking reliable services and skilled professionals offering their expertise.</p>
                    </div>
                    <div class="c5box2">
                        <p id="missiontxt"><strong>How it Works ?</strong><br><br>At <b>homcare</b>, we understand the challenges homeowners face when it comes to finding trustworthy service providers for their maintenance tasks. That's why we've created a user-friendly platform that simplifies the entire process, from booking to completion.<br><br></p>
                        <div id="timeline">
                        <div id="timeline-1"></div>
                        </div>
                            <p id="stepstxt"><b>step 1 : Explore Services</b></p>
                            <br>
                            <p id="stepstxt"><b>step 2 : Find Providers</b></p>
                            <br>
                            <p id="stepstxt"><b>step 3 : Book with Confidence</b></p>
                            <br>
                            <p id="stepstxt"><b>step 4 : Seamless Communication</b></p>
                            <br>
                            <p id="stepstxt"><b>step 5 : Enjoy Reliable Service</b></p>
                    </div>
                </div>
            </div>
        </section>
        <div id="divider"></div>
        <section class="sect7" id="sect7">
            <div class="content5">
                <div id="c5heading">Contact Us,<br></div>
                <div class="c7box">
                    <div class="c7box1">
                        <div class="input-container">
                            <input type="email" placeholder="Enter your email">
                        </div>
                        <div class="input-container">
                            <input type="tel" placeholder="Enter your phone no:">
                        </div>
                        <textarea placeholder="Enter your message"></textarea>
                        <button id="send" type="button">Send</button>
                        <div id="supporttxt">For further support go to <a href="#" style="color: black;">support@homcare.com</a><br>Call us on Contact no: 0484-0123456.</div>
                    </div>
                    <div class="c7box2">
                        <img id="s1img" src="static/images/i8.jpg">
                    </div>
                    <div class="c7bottombox">
                        <div class="c7box4">
                            <p style="font-size: 25px;margin: 0px;padding-left: 0px;"><b>Location At</b></p><br><p style="font-size: 19px;margin: 0px auto;">Plaza Building West, 3rd Floor, near MG road,</p><p style="font-size: 17px;margin: 0px;">Edapally, Kochi, Kerala, India.</p>
                        </div>
                        <div class="c7box3">
                            <img id="s1img" src="static/images/i9.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="sect8"></section>
    </main>
    <footer>
        <div class="footer-container">
            <div class="footer-box0">
                <img id="footer-box0-img" src="static/images/home_service_icon2.svg">
            </div>
            <div class="footer-box1">
                <p id="fb1-hed">homcare.</p>
            </div>
        </div>
        <div class="footer-subcontainer">
            <div class="footer-box2">
                <p id="fb2-txt"><b>Company</b></p>
                <p id="fb2-subtxt">About Us<br>
                    Contact Us<br>
                    Blog<br>
                    Our Story<br>
                    Our Team<br>
                    Our Partners<br>
                    Careers<br>
                    Terms & Conditions<br>
                    Privacy Policy<br>
                </p>
            </div>
            <div class="footer-box2">
                <p id="fb2-txt"><b>Services</b></p>
                <p id="fb2-subtxt">Maintenance Services<br>
                    Design Works<br>
                    Gardening<br>
                    Installations<br>
                </p>
            </div>
            <div class="footer-box2">
                <p id="fb2-txt"><b>For User</b></p>
                <p id="fb2-subtxt">How to use ?<br>
                    Make Bookings<br>
                    Premium Packages<br>
                <br>
                </p>
                <p id="fb2-txt"><b>For Client</b></p>
                <p id="fb2-subtxt">Marketplace<br>
                    Enterprise<br>
                    Customer Network<br>
                </p>
            </div>
            <div class="footer-box2">
                <p id="fb2-txt"><b>Resources</b></p>
                <p id="fb2-subtxt">
                    Help & Support<br>
                    Affiliate Programs<br>
                    Community<br>
                </p>
                <br>
                <p id="fb2-txt"><b>Connect Us</b></p>
                <p id="fb2-subtxt">
                    <ion-icon name="logo-linkedin"></ion-icon> Linkedin<br>
                    <ion-icon name="logo-facebook"></ion-icon>  Facebook<br>
                    <ion-icon name="logo-instagram"></ion-icon> Instagram<br>
                    <ion-icon name="logo-youtube"></ion-icon> Youtube
                </p>
            </div>
        </div>
    </footer>
    <script src="static/js/home.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>