<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style/services.css">
    <link rel="stylesheet" href="static/style/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <header id="navbar">
        <nav>
            <ul class="nav-ul">
                <img id="logo" src="static/images/home_service_icon1.svg">
                <li id="name">homcare.</li>
                <li class="nav-li">
                    <p><a href="#" id="bookingsLink">Bookings</a></p>
                    <form id="bookingForm" action="{% url 'serviceList' %}" method="get" style="display: none;">
                        {% csrf_token %}
                        <input type="hidden" name="book" value="booked">
                    </form>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-li"><p><a href="{% url 'logout' %}">logout</a></p></li>
                <!-- <li class="nav-li"><p><a href="">Bookings</a></p></li> -->
                {% endif %}
             
            </ul>
        </nav>
    </header>
    <br> 
    <main>
        <form action="{% url 'serviceList' %}" method="get">
        <div class="box">
            <h1>Choose a Service</h1>
            
                <div class="services">
                        <div class="inputcontainer1">
                            <input type="submit" id="service1" value="interior_design" class="radio" name="service">
                            <div class="service s1">
                                <div class="serv-img1"></div>
                                <p class="serv-name">Interior Design</p>
                                <p style="padding-left: 15px; margin: 10px 0 0 0;">Our interior design service transforms spaces into personalized sanctuaries.</p>
                            </div>
                        </div>
                        <div class="inputcontainer2">
                            <input type="submit" id="service2" value="solar_panel_installation" class="radio" name="service">
                            <div class="service s2">
                                <div class="serv-img2"></div>
                                <p class="serv-name">Solar Paneling</p>
                                <p style="padding-left: 15px; margin: 10px 0 0 0;">Our solar paneling service harnesses renewable energy to power homes.</p>
                            </div>
                        </div>
                        <div class="inputcontainer3">
                            <input type="submit" id="service3" value="landscaping" class="radio" name="service">
                            <div class="service s3">
                                <div class="serv-img3"></div>
                                <p class="serv-name">Landscaping</p>
                                <p style="padding-left: 15px; margin: 10px 0 0 0;">Our landscaping service meticulously crafts outdoor spaces.</p>
                            </div>
                        </div>
                    
                </div>
            
            <div class="txtbox"><p id="innertxt" style="margin: 0px;"></p></div>
        
           
        </form>
        <!-- <button id="choose-btn" type="button" name="service" >Choose</button> -->
        </div>
        
    </main>
    <script >
         document.getElementById('bookingsLink').addEventListener('click', function(event) {
        event.preventDefault(); // Prevent the default behavior of the hyperlink
        document.getElementById('bookingForm').submit(); // Submit the form
    });

        console.log("Hello World!");
var nxt = document.getElementById( "choose-btn" );
var txt = document.getElementById("innertxt");
console.log(nxt.type);
nxt.onclick = function () {
    var serv1 = document.getElementById("service1");
    var serv2 = document.getElementById("service2");
    var serv3 = document.getElementById("service3");
    if(serv1.checked ==  true)
        location.href = serv1.value;
    else if(serv2.checked==true)
        location.href = serv2.value;
    else if(serv3.checked==true)
        location.href = serv3.value;
    else
        txt.innerText = "please select an option!";
        setTimeout(()=>{
            const mesag = document.getElementById("innertxt")
            mesag.style.display = 'none';
          },5000)
}
    </script>
</body>
</html>