body{
    font-family: "Poppins", sans-serif;
    color: #000000;
    background-color: #ffffff;
    background-image: url("../images/fa0b3863498577.5ab28d9d508e4.jpg");
    background-size: cover;
  }
  .form {
      background-color: #ffffffbe;
      display: block;
      padding: 2rem;
      max-width: 420px;
      height: 522px;
      border-radius: 0.5rem;
      box-shadow: 0 5px 15px 3px rgba(1, 0, 0, 0.12);
      margin:100px auto;
      box-sizing: border-box;
      backdrop-filter: blur(10px);
      transition-duration: 0.5s;
    }
    .form:hover{
      transition: 0.3s;
      transform:scale(1.019);
    }
    .head {
      font-size: 1.25rem;
      line-height: 1.75rem;
      text-align: left;
      color: #000000;
      padding-left: 18px;
      padding-top: 0px;
      display: block;
    }
    .subhead{
      font-size: 1.1rem;
      line-height: 1.75rem;
      font-weight: normal;
      text-align: left;
      color: #000000;
      padding-left: 18px;
      display: block;
      padding-top: 2px;
    }
    
    .mega{
      padding-top: 0rem;
    }
    .input-container {
      padding: 0.5rem;
      display: flex;
      justify-content: center;
    }
    
    .input-container input, .form button {
      outline: none;
      border: 1px solid #e5e7eb00;
      margin: auto;
    }
    
    .input-container input[type="email"]{
      margin-bottom: 3px;
      margin-top: -8px;
    }
  
    .input-container input {
      background-color: #fff;
      padding: 0.75rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
      width: 300px;
      border-radius: 0.5rem;
      /*box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);*/
      box-shadow: 0px 1px 5px 0.5px rgba(76, 76, 76, 0.106);
      transition-duration: 0.4s;
      backdrop-filter: blur(10px);
      background-color: #ffffff00;
    }
    
    .input-container input::placeholder{
      opacity: 0.5;
    }
    
    .input-container input:focus{
      outline: none;
      border-color: black;
      transition: 0.3s;
      transform:scale(1.019);
    }
    .checkbox-wrapper-65{
      padding-left: 22px;
      padding-top: 5px;
      display: flex;
    }
    .checkbox-wrapper-65 *,
    .checkbox-wrapper-65 ::after,
    .checkbox-wrapper-65 ::before {
      box-sizing: border-box;
    }
    .checkbox-wrapper-65 .cbx {
      position: relative;
      display: block;
      float: left;
      width: 13px;
      height: 13px;
      border-radius: 4px;
      background-color: #ebebeb;
      background-image: linear-gradient(#ebebeb, #ebebeb);
      box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.154), inset 0 -1px 1px rgba(224, 224, 224, 0.15);
      transition: all 0.15s ease;
      margin-top: 3px;
    }
    .checkbox-wrapper-65 .cbx svg {
      position: absolute;
      top: 3px;
      left: 3px;
      fill: none;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke: #fff;
      stroke-width: 2;
      stroke-dasharray: 17;
      stroke-dashoffset: 17;
      transform: translate3d(0, 0, 0);
    }
    .checkbox-wrapper-65 .cbx + span {
      float: left;
      margin-left: 6px;
    }
    .checkbox-wrapper-65 {
      user-select: none;
    }
    .checkbox-wrapper-65 label {
      display: inline-block;
      cursor: pointer;
      font-weight: lighter;
      font-size: smaller;
      color: #5a5d63;
    }
    .checkbox-wrapper-65 input[type="checkbox"] {
      display: none;
      visibility: hidden;
    }
    .checkbox-wrapper-65 input[type="checkbox"]:checked + .cbx {
      background-color: black;
      background-image: linear-gradient(black, black);
    }
    .checkbox-wrapper-65 input[type="checkbox"]:checked + .cbx svg {
      stroke-dashoffset: 0;
      transition: all 0.15s ease;
    }
    .para{
      margin: auto;
      display: flex;
      justify-content:left;
      padding-left: 19px;
      padding-top:20px ;
      padding-bottom: 5px;
      font-weight: normal;
      font-size: 90%;
    }
    
    .submit {
      display: block;
      padding: 0.5rem;
      padding-left: 1rem;
      padding-right: 1rem;
      background-color: black;
      color: #ffffff;
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-weight: 500;
      float: right;
      box-shadow: 0 5px 15px 3px rgba(146, 146, 146, 0.065);
      border-radius: 0.5rem;
      margin-top: 20px;
      transition-duration: 0.4s;
      cursor: pointer;
      
    }
    .submit:hover{
      background-color: #ffffff00;
      border: solid black;
      color: black;
    }
    
    .submit:active{
      transition: 0.3s;
      transform:scale(0.9);
    }
    .create{
      display: block;
      padding: 0.5rem;
      padding-left: 1rem;
      padding-right: 1rem;
      background-color: #ffffff;
      color: black;
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-weight: 500;
      float: left;
      border-radius: 0.5rem;
      margin-top: 20px;
      transition-duration: 0.4s;
      cursor: pointer;
      background-color: #ffffff00;
    }
    .create:hover{
      background-color: rgba(255, 255, 255, 0.483);
      color: rgb(0, 0, 0);
    }
    .create:active{
      transition: 0.3s;
      transform:scale(0.9);
    }