header{
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: #ffffff;
    top: 0;
    transition: top 0.5s;
}

.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#logo{
    height: 40px;
    width: 40px;
    margin: 10px 0px 0px 10px;
    float: left;
}
.nav-li{
    float: right;
    padding: 0px;
}
#name{
    float: left;
    margin: 13px 0 0 10px;
    font-weight: 600;
    font-size: x-large;
}
.nav-li a{
    display: block;
    line-height: 0px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background: linear-gradient(currentColor, currentColor) 15px 22px / 0em 0.1em no-repeat;
	transition: 0.5s;
    /* background: linear-gradient(black, black);
    background-position:0% 100% ;
    background-size: 0em 0.1em;
    background-repeat: no-repeat;
	transition:
        background-size 0.3s,
        background-position 0s 0.3s; */
}
.nav-li a:hover{
    background-size: 100% .1em;
    /* background-position: 0% 100%;
    background-size: 100% 0.1em; */
}
